* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden; /* Esconde a rolagem horizontal */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.quem-somos > h2,
section.nossa-historia > h2,
section.nosso-time > h2 {
    text-align: center;
    padding: 2rem 0;
}

section.quem-somos > p {
    margin-bottom: 1rem;
    line-height: 27px;
}

section.nossa-missao,
section.outra-secao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
}

section.nossa-missao > div > h2,
section.outra-secao > div > h2 {
    margin-bottom: 2rem;
    text-align: center;
}

section.nossa-missao > div > p,
section.outra-secao > div > p {
    line-height: 27px;
}

img.foto-nossa-missao {
    margin-top: 2rem;
    border-radius: 50%;
    width: 25rem;
}

.imagem-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagens {
    margin-bottom: 20px;
}

.imagens-membros {
    text-align: center;
    margin: 0 10px;
}

.imagens-membros img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.imagens-membros figcaption {
    margin-top: 10px;
    color: #333;
    background-color: #5C93AA;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    section.container {
        flex-direction: column;
        align-items: center;
    }

    section.nossa-missao, 
    section.outra-secao {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imagem-container {
        flex-direction: column;
    }

    .imagens-membros img {
        width: 100px;
        height: 100px;
    }
}

/* Estilo para tablets e telas maiores */
@media (min-width: 769px) and (max-width: 1200px) {
    section.nossa-missao, 
    section.outra-secao {
        flex-direction: column;
        gap: 2rem;
    }

    .imagem-container {
        flex-wrap: wrap;
        gap: 2rem;
    }
}
